.container {
  width: 100%;
  padding: 0 32px;
  box-sizing: border-box;
  margin-top: 32px;
  background-color: var(--color-black);
  text-align: left;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  width: 122px;
  height: 30px;
  color: var(--color-white);
  opacity: 1;
  margin: 0;
}

.collapseBtn {
  border: none;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  width: 90px;
  height: 30px;
  left: 1286px;
  cursor: pointer;
  opacity: 1;
  color: var(--color-primary);
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
/* Styles for the tabs*/
.tabs {
  margin-top: 16px;
  margin-bottom: 24px;
  padding-left: 0;
}

.tabs :global(.MuiTabs-scroller) {
  margin-left: 0;
}

.tabs :global(.MuiTabs-flexContainer) {
  padding-left: 0;
  gap: 24px;
}

.tabs :global(.MuiButtonBase-root) {
  color: var(--color-white);
  text-transform: none;
  font-size: 14px;
  min-width: auto;
  padding: 0;
}
.tabs :global(.MuiTab-root) {
  min-width: 0 !important;
  width: auto;
  padding: 0 12px;
  margin: 0;
  color: var(--color-white);
  text-transform: none;
}

.tabs :global(.Mui-selected) {
  color: var(--color-white) !important;
}

.tabs :global(.MuiTabs-indicator) {
  background: var(--color-primary);
  height: 3px;
}
